
/*
NOTES
*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2;
    }

.logobanner {
    width: 100%;
    max-width: 100%;
    margin-bottom: -4px;
    }

.circlelogo {
    position: absolute;
    top: 122px;
    left: 61%;
    width: 70px;
    height: 70px;
    margin-left: -70px;
    margin-top: -70px;
    z-index: 100;
    }

.header_nav {
    display: block;
    }

body {
    background-image: url(images/background-texture3.jpg);
    background-repeat;
    width: 320px;
    margin: 0 auto;
    position: relative;
    }

.main_nav {
    background: transparent;
    background-image: url(images/nav-background.jpg);
    background-repeat:  repeat-x;
    height: 30px;
    margin: 0px;
    padding-top: 15px;
    padding-left: 10px;
    }

nav ul li {
    display: inline;
    }

.call_link {
    padding-left: 210px;
    }

a {
    color: #999966;
    text-decoration: none;
    }

img {
    max-width: 100%;
    }

.footer {
    background-color: #333333;
    width: 100%;
    padding: 0 0 15em 0;
    font-size: 0.75em;
    }

.address {
    color: #999966;
    font-size: 12px;
    margin-left: 20px;
    padding-top: 20px;
    }
    /*
    NOTES
    */
