
/*
NOTES
*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

#logobanner {
    width: 100%;
    max-width: 100%;
    margin-bottom: -5px;
  }

#circlelogo {
    position: absolute;
    top: 90px;
    left: 65%;
    width: 50px;
    height: 50px;
    margin-left: -70px;
    margin-top: -70px;
    z-index: 100;
  }

#header_and_nav {
    display: block;
  }

#three_promo {
    width: 100%;
    margin: 0px;
  }

.home #content div {
      width: 100%;
  }

body {
    background-image: url(images/background-texture.jpg);
    width: 300px;
    margin: 0 auto;
    position: relative;
  }

#main_nav {
    background: transparent;
    background-image: url(images/nav-background.jpg);
    background-repeat:  repeat-x;
    height: 20px;
    margin: 0px;
    padding-top: 5px;
    padding-left: 10px;
  }

nav ul li {
  	display: inline;
  }


#call_link {
  padding-left: 210px;
  }

#store_promo {
  margin-top: 18px;
}

#sausage_promo {
  margin: -3px 0px;
}

a {
      color: #999966;
      text-decoration: none;
      font-size: 15px;
  }

img {
    max-width: 100%;
  }

  #store_promo {
    max-width: 25%;
  }
