
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #circlelogo {
    position: absolute;
    width: 142px;
    height: 142px;
    top: 65px;
    left: 410px;
    z-index: 100;
  }
  #header_and_nav {
    display: block;
  }
  #sausage_twins_combo_promo {
    float: left;
  }
  .home #content div {
      float: left;
  }
  body {
    margin: 0;
  }
  #main_nav {
    background: transparent;
    background-image: url(images/nav-background.jpg);
    background-repeat:  repeat-x;
    height: 58px;
    margin: 0px;
    padding-top: 10px;
  }
  nav ul li {
  	display: inline;
    padding: 0px 60px;
  }
  #home_link {
    padding-right: 250px;
  }
#store_promo {
  margin-top: 18px;
}
  a {
      color: #F5DEB3;
      text-decoration: none;
      font-size: 30px;
  }


    /*
  nav {
      background-color: #efe5d0;
  	margin: 10px 10px 0px 10px;
  }
  nav ul {
  	margin: 0px;
  	list-style-type: none;
  	padding: 5px 0px 5px 0px;
  }
  nav ul li {
  	display: inline;
  	padding: 5px 10px 5px 10px;
  }
*/
