/* 1. The font color used is not black. It's #111.
2. The link color in the first paragraph is not
the default blue color. It's #0074d9.
3. The images are displayed at 640px wide.

  margin-left: 75px;
from body or h1   line-height: 1.2em;

*/


body {
  font-size: medium;
  color: #111;
  width: 620px;
  background-color: #ffffff;
  font-family: Georgia, serif;
  margin-left: 0px;

}
h1 {
  font-size: 275%;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 38px;
  margin-bottom: 5px;
}

h2 {
  font-family: sans-serif;
  margin-top: 16px;
  margin-bottom: 18px;
  font-size:        170%;
}
h3 {
  font-size:        130%;
  font-family: sans-serif;
  margin-top: 25px;
  margin-bottom: 28px;
}
img {
    width: 640px;
    margin-bottom: 5px;
}
p {
    line-height: 1.6em;
    margin-bottom: 25px;
}
a:link {
    color: #0074d9;
}
blockquote {
  width: 640px;
  line-height: 1.6em;
  margin-left: 0px;
  background-color: #cccccc;
  padding: 10px;
}
iframe {
  width: 640px;
  height: 360px;
}
ul {
  line-height: 1.6em;
  list-style-type: disc;
}
