/*300*/
  html {
      font-family: 'Noto Sans', sans-serif;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  body {
    margin: 10%;
    line-height: 1.5;
  }

  h1 {
    font-family: 'Noto Serif', serif;
  }

  *, *:before, *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
  }

  .transitions {
    p {
      /* transition: all 3s ease;*/
      transition: background-color 5s ease,
                  padding .5s ease,
                  line-height .5s ease;
    }
    p:hover {
    background-color: red;
    padding: 20px;
    line-height: 3em;
  }
  }
